.header-bg-image{
    background-image: url('images/freepik__expand__25330.jpeg');
    background-size: cover;  /* Roztáhne obrázek */
    background-position: center;
    height: 75vh;
    box-shadow: 0 10px 15px rgba(255, 255, 255, 0.8);
}
.header-bg-image2{
    background-image: url('images/910-_1_.jpeg');
    background-size: cover;  /* Roztáhne obrázek */
    background-position: center;
    height: 75vh;
}
.zoom-hover {
    transition: transform 0.3s ease-in-out;
}
.zoom-hover:hover {
    transform: scale(1.05);
}
.shadow-white {
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.8);
}